<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="projectTestNG">
        <groups>
            <run>
                <include name="sit"/>
                <include name="dev"/>
            </run>
        </groups>
        <classes>
            <class name="day3.TestNGHelloWorld">
                <methods>
                    <include name=".*WorldTest.*"/>
                </methods>
            </class>
        </classes>
    </test> <!-- TestNG -->
</suite> <!-- Default Suite -->