<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" group-by-instances="true">
    <test name="test" verbose="2" preserve-order="true">
        <classes>
            <class name="day5.TestFactory"/>
        </classes>
    </test>
</suite> <!-- Default Suite -->